.userdetails {
    border-bottom: 1px solid #ccc; /* Adjust color and thickness as needed */
}
.staff-card {
    border-bottom: 1px solid #ddd;
    padding: 15px 10px;
}
.staff-card:last-child {
    border-bottom: none;
}
.staff-name {
    font-weight: bold;
    margin: 0;
}
.staff-role {
    font-size: 15px;
    color: gray;
}
.permissions {
    font-size: 15px;
    color: #6c757d;
}
.scroll {
    max-height: 450px;
    overflow-y: auto;
}

.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.rounded-circle {
    border-radius: 50%;
    width: 130px;
    height: 130px;
}

@media (min-width: 1600px) and (max-width: 1700px) {
    .rounded-circle {
        width: 130px;
        height: 130px;
    }
}
@media (min-width: 1400px) and (max-width: 1599px) {
    .rounded-circle {
        width: 120px;
        height: 120px;
    }
}
@media (min-width: 1200px) and (max-width: 1399px) {
    .rounded-circle {
        width: 100px;
        height: 100px;
    }
}
@media (min-width: 1001px) and (max-width: 1199px) {
    .rounded-circle {
        width: 100px;
        height: 90px;
        padding: 0px

    }
}
@media (min-width: 990px) and (max-width: 1000px) {
    .rounded-circle {
        width: 120px;
        height: 120px;
        padding: 0px

    }
}
@media (min-width: 676px) and (max-width: 989px) {
    .rounded-circle {
        width: 120px;
        height: 120px;
        padding: 0px
    }
}
@media (min-width: 767px) and (max-width: 835px) {
    .rounded-circle {
        width: 100px;
        height: 100px;
        padding: 0px
    }
}
@media (min-width: 575px) and (max-width: 675px) {
    .rounded-circle {
        width: 110px;
        height: 110px;
        padding: 0px
    }
}