.userdetails {
    border-bottom: 1px solid #ccc; /* Adjust color and thickness as needed */
}
.staff-card {
    border-bottom: 1px solid #ddd;
    padding: 15px 10px;
}
.staff-card:last-child {
    border-bottom: none;
}
.staff-name {
    font-weight: bold;
    margin: 0;
}
.staff-role {
    font-size: 15px;
    color: gray;
}
.permissions {
    font-size: 15px;
    color: #6c757d;
}
.scroll {
    max-height: 450px;
    overflow-y: auto;
}
